server {
    listen 80;
    server_name _;

    root {{ nginx_html_dir }};
    index index.html;

    location / {
        try_files $uri $uri/ =404;
    }

    location /clickhouse/ {
        rewrite ^/clickhouse/(.*)$ /$1 break;
        proxy_pass http://{{ clickhouse_host }}:8123;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
    }
}